body {
    font-family: monospace;
}
.dictionary {
    table-layout: fixed;
    margin: auto;
    width: 100%;
    max-width: 600px;
}
.dictionary, .filtered, .tablesorter-headerAsc .fa-caret-down, .tablesorter-headerDesc .fa-caret-up {
    display: none;
}
input[type="search"] {
    width: 100%;
    border: 1px solid #ccc;
}
th, td {
    box-sizing: border-box;
    width: 50%;
    padding: 5px;
}
.odd, th {
    background-color: #eee;
}
th, .fa {
    cursor: pointer;
}
.fa {
    float: right;
}